.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  float: left;
  height: 460%;
  margin-top: -6px;
}

.quill * {
  color: white !important;
  stroke: white !important;
}

span#ql-picker-options-0 span {
  color: black !important;
}
